<div class="row">
    <iimg width="100%" height="64px" src="/static/images/banniere.png" alt="Bannière à venir sous peu..." />
    {% if current_user.is_active %}
    <div class="resume">
        <a href="{{ url_for('core.deconnexion') }}" class="button right">Déconnexion</a>
        {% if g.personnage %}
        <div class="info joueur">{{ g.personnage.entite.nom }}</div>
        <div class="info jauge">
            <div class="jauge_container">
                <div class="vie" style="width:{{ g.personnage.jauge_pv }}%" >
                    <span class="jauge_valeur">{{ g.personnage.jauge_pv }} %</span>
                </div>
            </div>
        </div>
        <div class="info jauge">
            <div class="jauge_container">
                <div class="endurance" style="width:{{ g.personnage.jauge_pe }}%" >
                    <span class="jauge_valeur">{{ g.personnage.jauge_pe }} %</span>
                </div>
            </div>
        </div>
        <div class="info jauge">
            <div class="jauge_container">
                <div class="magie" style="width:{{ g.personnage.jauge_pm }}%" >
                    <span class="jauge_valeur">{{ g.personnage.jauge_pm }} %</span>
                </div>
            </div>
        </div>
        <div class="info pas"><img width="16px" src="/static/images/gui/des.png" /> {{ g.personnage.entite.pa }}/12</div>
        <div class="info charge"><img width="16px" src="/static/images/gui/backpack.png" /> {{ g.personnage.poids_porte }}/{{ g.personnage.entite.poids_portable }}</div>
        <div class="info tour"><img width="16px" src="/static/images/gui/hourglass.png" /> {{ g.personnage.entite.dla }}</div>
        {% endif %}
    </div>
    {% endif %}
</div>
<div class="row menu">
    {% if current_user.is_active %}
    {% if current_user.personnage %}
    <a href="{{ url_for('zone.vue') }}" class="menu {%if g.menu=='vue'%}selected{%endif%}">Vue</a>
    <a href="{{ url_for('personnage.profil') }}" class="menu {%if g.menu=='profil'%}selected{%endif%}">Profil</a>
    <a href="{{ url_for('personnage.inventaire') }}" class="menu {%if g.menu=='inventaire'%}selected{%endif%}">Inventaire</a>
    <!--
    <a href="#" class="menu">Forum</a>
    <a href="#" class="menu">Options</a>
    -->
    {% endif %}
    <a href="{{ url_for('core.regles') }}" class="menu {%if g.menu=='regles'%}selected{%endif%}">Règles</a>
    <!--<a href="http://blog.timoneim.mindiell.net/" target="_blank" class="menu">Le blog</a>-->
    {% else %}
    <a href="{{ url_for('core.accueil') }}" class="menu  {%if g.menu=='accueil'%}selected{%endif%}">Accueil</a>
    <a href="{{ url_for('core.regles') }}" class="menu {%if g.menu=='regles'%}selected{%endif%}">Règles</a>
    <!--<a href="http://blog.timoneim.mindiell.net/" target="_blank" class="menu">Le blog</a>-->
    <a href="{{ url_for('core.inscription') }}" class="menu {%if g.menu=='inscription'%}selected{%endif%}">Inscription</a>
    {% endif %}
</div>
<div class="row">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <section class="flashes">
        {% for category, message in messages %}
        <div class="alert {{ category }}">{{ message }}<span class="close" onclick="this.parentNode.style.display='none';">X</span></div>
        {% endfor %}
    </section>
    {% endif %}
    {% endwith %}
</div>
