{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h1>Création de votre personnage</h1>
    <p>La création de votre personnage est une étape importante. C'est là que vous allez choisir son nom et son sexe. Ces caractéristiques sont immuables et permettront aux autres personnages d'interagir avec le vôtre.</p>
    <form class="formulaire" name="creation" action="{{ url_for('personnage.creation') }}" method="post">
        {{ g.form.hidden_tag() }}
        <p>
            <span class="field">{{ g.form.nom.label }}</span>
            {{ g.form.nom() }}
            <i>Le nom de votre personnage.</i>
        </p>
        <p>
            <span class="field">{{ g.form.sexe.label }}</span>
            {{ g.form.sexe() }}
            <i>Le sexe de votre personnage (Role Play uniquement, n'influe pas sur les possibilités de votre personnage).</i>
        </p>
        <p>
            <input type="submit" value="Créer" />
        </p>
    </form>
</div>
<script type="text/javascript">
document.forms["creation"].nom.focus();
</script>
{% endblock %}
