{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h1>Inventaire</h1>

    <div class="col-md-3">
        <div class="equipment">
            {% for equipement in g.equipement %}
            {% if equipement.nom %}
            <div class="place {{ equipement.emplacement }} vide">
                <span desc="{{ equipement.nom }}" class="item">
                <img width="24" src="/static/images/items/{{ equipement.image }}.png" />
                </span>
            </div>
            {% else %}
            <div class="place {{ equipement.emplacement }}"></div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col-md-8">
    <h2>Aucun sac</h2>

    <table class="inventory" cellspacing="2" cellpadding="0">
    {% for y in range(g.y_max) %}
    <tr>
        {% for x in range(g.x_max) %}
        <td>
            {% if g.inventaire[(x+y*g.x_max)].nom %}
            {% set objet = g.inventaire[(x+y*g.x_max)] %}
            <span class="clickable">
            <span desc="{{ objet.nom }}" class="item">
            <img width="24" src="/static/images/items/{{ objet.image }}.png" /></span>
            </span>
            {% else %}
            <span class="emptybag clickable"></span>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>


    </div>

</div>
{% endblock %}
