{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h1>{{ g.personnage.entite.nom }}</h1>

    <h2>
        <div class="bouton"><img src="/static/images/gui/btn_plume.png" /></div> Caractéristiques
    </h2>
    <div class="row">
        <div class="col-md-3">
            <p>Vigueur : {{ g.personnage.entite.vigueur }}</p>
            <p>Résistance : {{ g.personnage.entite.resistance }}</p>
            <p>Agilité : {{ g.personnage.entite.agilite }}</p>
            <p>Constitution : {{ g.personnage.entite.constitution }}</p>
        </div>
        <div class="col-md-3">
            <p>Esprit : {{ g.personnage.entite.esprit }}</p>
            <p>Sagesse : {{ g.personnage.entite.sagesse }}</p>
            <p>Intellect : {{ g.personnage.entite.intellect }}</p>
            <p>Essence : {{ g.personnage.entite.essence }}</p>
        </div>
        <div class="col-md-5">
            <div class="profile">
                <img class="portrait" src="/static/images/portraits/{{ g.personnage.portrait }}" alt="portrait" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>
                <div class="bouton"><img src="/static/images/gui/btn_coeur.png" /></div> Santé
            </h2>
            <p>Vitalité : {{ g.personnage.entite.pv }} / {{ g.personnage.entite.pv_max }}</p>
            <p>Endurance : {{ g.personnage.entite.pe }} / {{ g.personnage.entite.pe_max }}</p>
            <p>Magie : {{ g.personnage.entite.pm }} / {{ g.personnage.entite.pm_max }}</p>
        </div>
        <div class="col-md-3">
            <h2>
                <div class="bouton"><img src="/static/images/gui/btn_combat.png" /></div> Combat
            </h2>
            <p>Attaque : {{ g.personnage.entite.attaque }}</p>
            <p>Parade : {{ g.personnage.entite.parade }}</p>
        </div>
        <div class="col-md-3">
            <h2>
                <div class="bouton"><img src="/static/images/gui/btn_grimoire.png" /></div> Magie
            </h2>
            <p>Attaque magique : {{ g.personnage.entite.attaque_magique }}</p>
            <p>Parade magique : {{ g.personnage.entite.parade_magique }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>
                <div class="bouton"><img src="/static/images/gui/btn_or.png" /></div> Fortune
            </h2>
            <p>Fortune actuelle : {{ g.personnage.fortune }}</p>
            <p>Fortune en banque : {{ g.personnage.banque }}</p>
        </div>
        <div class="col-md-3">
            <h2>
                <div class="bouton"><img src="/static/images/gui/des.png" /></div> Expérience
            </h2>
            <p>Expérience : {{ g.personnage.experience }}</p>
        </div>
    </div>
</div>
{% endblock %}
