{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h1>Tour de jeu</h1>

    <div class="row">
        {% if g.dla %}
        <p>Vous débutez un nouveau tour, sa date limite est <b>{{ g.personnage.entite.dla }}</b></p>
        <p>Vous récupérer donc vos <b>{{ g.personnage.entite.pa }}</b> Points d'Action</p>
        {% if g.dla_pv %}
        <p>Vous avez régénéré de <b>{{ g.dla_pv }}</b> Points de Vie</b></p>
        {% endif %}
        {% if g.dla_pe %}
        <p>Vous avez régénéré de <b>{{ g.dla_pe }}</b> Points d'Endurance</b></p>
        {% endif %}
        {% if g.dla_pm %}
        <p>Vous avez régénéré de <b>{{ g.dla_pm }}</b> Points de Magie</b></p>
        {% endif %}
        {% else %}
        <p>La date limite de votre tour actuel est <b>{{ g.personnage.entite.dla }}</b></p>
        <p>Il vous reste <b>{{ g.personnage.entite.pa }}</b> Points d'Action</p>
        {% endif %}
    </div>

    <div class="row">
        <a href="{{ url_for('zone.vue') }}" class="button">Jouer !</a>
    </div>
</div>
{% endblock %}
