{% extends 'base.html' %}
{% block content %}
<span class="right connexion">
    <h2>Connexion</h2>
    <form class="formulaire" name="connexion" action="{{ url_for('core.connexion') }}" method="post">
        {{ g.form.csrf_token }}{{ g.form.hidden_tag() }}
        {{ g.form.login() }}<br />
        {{ g.form.password() }}<br />
        <input type="submit" value="Connexion" />
    </form>
</span>

<div class="row">
    <h1>Bienvenue sur TimoNeïm !</h1>
    <div class="texte">
        <table class="texte" cellspacing="0" cellpadding="0">
            <tr><td class="frame_tl"></td><td class="frame_t"></td><td class="frame_tr"></td></tr>
            <tr><td class="frame_l"></td><td class="middle"><p>TimoNeïm est un jeu web type héroic-fantasy qui se joue via votre navigateur.</p></td><td class="frame_r"></td></tr>
            <tr><td class="frame_bl"></td><td class="frame_b"></td><td class="frame_br"></td></tr>
        </table>
    </div>
</div>

<script>
document.forms["connexion"].login.focus();
</script>
{% endblock %}
