{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h1>Inscription</h1>
    <form class="formulaire" name="inscription" action="{{ url_for('core.inscription') }}" method="post">
        {{ g.form.hidden_tag() }}
        <p>
            <span class="field">{{ g.form.login.label }}</span>
            {{ g.form.login() }}
            <i>Votre identifiant unique pour vous connecter au jeu.</i>
        </p>
        <p>
            <span class="field">{{ g.form.password.label }}</span>
            {{ g.form.password() }}
            <i>Un mot de passe pour valider votre connexion.</i>
        </p>
        <p>
            <span class="field">{{ g.form.confirmation.label }}</span>
            {{ g.form.confirmation() }}
            <i>Le même mot de passe que ci-dessus pour vérification.</i>
        </p>
        <p>
            <span class="field">{{ g.form.email.label }}</span>
            {{ g.form.email() }}
            <i>L'adresse email sera utilisée uniquement pour que vous puissiez renouveler votre mot de passe en cas de perte.</i>
        </p>
        <p>
            <a href="{{ url_for('core.accueil') }}" class="button">Annuler</a>
            <input type="submit" value="Valider l'inscription" />
        </p>
    </form>
</div>
<script type="text/javascript">
document.forms["inscription"].login.focus();
</script>
{% endblock %}
