{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h1>Règles du jeu</h1>

    <div class="texte">
        <table class="texte" cellspacing="0" cellpadding="0"><tr><td class="frame_tl"></td><td class="frame_t"></td><td class="frame_tr"></td></tr><tr><td class="frame_l"></td><td class="middle">
        <h1>Le menu</h1>
        <p>Le menu du haut permet d'accéder à toutes les options du jeu. Vous pouvez accéder à la fiche de personnage, à la vue, à l'inventaire, au forum de discussion, aux options, à ces règles, ainsi qu'au blog.</p>
        <h2>Profil</h2>
        <p>Le profil permet de visualiser les informations du personnage. Ses caractéristiques principales aussi bien que la liste de ses compétences.</p>
        <h2>Vue</h2>
        <p>La vue vous permet de visualiser le monde qui entoure votre personnage. Elle permet ausis d'interagir avec celui-ci et avec les entités qui le peuplent. C'est là que vous pourrez agir sur les autres personnages et/ou les monstres. C'est là aussi que vous pourrez vous déplacer dans le monde.</p>
        <h2>Inventaire</h2>
        <p>Votre inventaire vous permettra modifier l'équipement de votre personnage ou d'utiliser des objets.</p>
        <h2>Forum</h2>
        <p>Le forum permet de discuter entre joueurs. Si vous vous réunissez avec d'autres joueurs, vous aurez la possibilité de discuter de manière privée à travers un forum qui vous sera dédié.</p>
        <h2>Options</h2>
        <p>Les options permettent d'accéder aux options du jeu. Vous pourrez y supprimer votre compte, modifier votre adresse mail ou votre mot de passe, etc…</p>
        <h2>Règles</h2>
        <p>Cette page, qui tente d'expliciter les règles le mieux possible.</p>
        <h2>Blog</h2>
        <p>Le blog qui raconte l'histoire de la création du jeu ainsi que les soucis potentiels rencontrés par les créateurs. Sa lecture est totalement optionnelle, mais ô combien intéressante !</p>
        </td><td class="frame_r"></td></tr><tr><td class="frame_bl"></td><td class="frame_b"></td><td class="frame_br"></td></tr></table>
    </div>

    <div class="texte">
        <table class="texte" cellspacing="0" cellpadding="0"><tr><td class="frame_tl"></td><td class="frame_t"></td><td class="frame_tr"></td></tr><tr><td class="frame_l"></td><td class="middle">
        <h1>Tours de jeu</h1>
        <p>Votre personnage peut jouer régulièrement, cela s'appelle un Tour de Jeu. À chaque nouveau Tour de Jeu, votre personnage récupère la totalité de ses Points d'Action (12) qu'il pourra utiliser pour agir dans son monde.</p>
        <p>Les personnages (joueurs et non joueurs) ont un potentiel de 12 PAs (Points d'Actions) à chacun de leur tour. Ils peuvent les utiliser pour agir. Il existe deux principaux types d'action dans le jeu : Les actions et les compétences.</p>
        <h2>Les actions</h2>
        <p>Une action est automatiquement réussie par les personnages. Il s'agit des déplacements, du commerce, et plus généralement de toutes les actions qui ne provoque pas de difficulté particulière.</p>
        <h2>Les compétences</h2>
        <p>Les compétences sont des actions nécessitant une compétence particulière (eh oui). Lorsqu'un joueur souhaite utiliser une compétence, un jet de compétence est fait pour savoir si le personnage réussit celle-ci ou échoue.</p>
        <p>Tout personnage peut tenter d'apprendre et de maitriser toute compétence. Aucune notion de sexe ou de race ne limitera le personnage. Plus le personnage utilisera une compétence, et plus celle-ci aura de chances d'augmenter. A contrario, moins un personnage utilise une compétence et plus celle-ci aura de chances de diminuer, mettant ainsi en lumière le manque de pratique et l'oubli des gestes liés à la compétence.</p>
        <p>Le jet de compétence est basé sur la difficulté de la compétence mise en opposition à la compétence du joueur. Le résultat donne un pourcentage de réussite (donc, entre 0 et 100%).</p>
        <p>Comme dans tout bon jeu qui se respecte, il est possible de faire des réussites critiques et des échecs critiques. Dans ce cas-là, le résultat est modifié suivant la compétence exercée.</p>
        <h3>Les compétences physiques</h3>
        <p>Les compétences physiques sont liées à votre endurance. Elles se basent sur l'endurance et ont besoin d'endurance pour être utilisées. Si vous êtes à court d'endurance, vous ne pourrez plus les utiliser et il vous faudra vous reposer.</p>
        <h3>Les compétences magiques</h3>
        <p>Les compétences magiques sont le pendant des compétences physiques liées à la magie. Là aussi, se retrouver sans Point de Magie vous obligera à récupérer.</p>
        </td><td class="frame_r"></td></tr><tr><td class="frame_bl"></td><td class="frame_b"></td><td class="frame_br"></td></tr></table>
    </div>

    <div class="texte">
        <table class="texte" cellspacing="0" cellpadding="0"><tr><td class="frame_tl"></td><td class="frame_t"></td><td class="frame_tr"></td></tr><tr><td class="frame_l"></td><td class="middle">
        <h1>Inventaire</h1>
        <p>Votre inventaire est composé de deux panneaux principaux : L'équipement porté et le sac.</p>
        <h2>Équipement porté</h2>
        <p>Il s'agit de l'équipement que vous portez actuellement sur vous. Il est visible par tous les autres joueurs sur votre profil public.</p>
        <p>Certains équipements nécessitent d'être portés pour être utilisés, de plus les emplacements hors mains sont restreints à certains objets uniquement.</p>
        <p>On peut placer n'importe quel objet dans les mains, dans ce cas l'objet peut-être utilisé pour frapper un adversaire ou pour se protéger. Par défaut, l'objet ayant la plus grande protection servira à vous protéger et celui ayant le plus grand potentiel de dégâts servira pour frapper.</p>
        <h2>Le sac</h2>
        <p>Votre sac permet de transporter les objets que vous récolterez au fur et à mesure de vos aventures. Il n'y a pas de notion de poids, mais plutôt d'encombrement pour les objets. Dès que vous ramasser un ou plusieurs objets, ceux-ci sont automatiquement placés dans votre sac à la première place libre.</p>
        <p>Vous pouvez utiliser vos objets directement (si l'objet est utilisable) depuis votre sac. C'est l'action elle-même qui déterminera les Points d'Action dépensés pour cela.</p>
        <p>De plus, certains objets sont empilables un certain nombre de fois dans votre sac afin de gagner de la place. Cela est géré automatiquement par le jeu.</p>
        </td><td class="frame_r"></td></tr><tr><td class="frame_bl"></td><td class="frame_b"></td><td class="frame_br"></td></tr></table>
    </div>

</div>
{% endblock %}
