/************************************************************************
Style général
*************************************************************************/

body {
background-color: #000;
color: #fff;
font-size: 0.8em;
line-height: 1.4em;
margin: 0;
}

a {
color: inherit;
font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {color: #ffad5f}

h1 {font-size: 2em}

.clickable {cursor: pointer}

.container {
background-color: #595652;
margin: 0 auto;
max-width: 1044px;
padding: 2em;
}

.row {}
.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2,.col-md-1{display:inline-block;vertical-align:top}

.col-md-12{width:100%}
.col-md-11{width:91.66666667%}
.col-md-10{width:83.33333333%}
.col-md-9{width:75%}
.col-md-8{width:66.66666667%}
.col-md-7{width:58.33333333%}
.col-md-6{width:50%}
.col-md-5{width:41.66666667%}
.col-md-4{width:33.33333333%}
.col-md-3{width:25%}
.col-md-2{width:16.66666667%}
.col-md-1{width:8.33333333%}

.text-left {
text-align: left;
}

.text-center {
text-align: center;
}

.text-right {
text-align: right;
}

.right {
float: right;
}

.error {
color: #f66;
font-weight: bold;
}

.info {
color: #66f;
}

.success {
color: #6d6;
}

.icon {
vertical-align: middle;
}

.description {
display: inline-block;
font-size: 0.6em;
padding-left: 0.2em;
font-style: italic;
}

.max {width: 100%;}

.help {
display: inline-block;
font-style:italic;
font-size:1em;
margin-top:0.6em;
}


/************************************************************************
Formulaire de connexion
*************************************************************************/

.connexion {
margin-top: -4em
}

/************************************************************************
Pied de page
*************************************************************************/

footer {display:block;text-align:center;font-size:0.9em;margin:1em;}

/************************************************************************
Messages flash
*************************************************************************/
.flashes {
float: right;
}

.flashes .alert{
border: 1px solid;
border-radius: 3px;
padding: .3em 1em;
max-width: 30em;
}

.flashes .success{
background-color: #696;
border-color: #9f9;
color: #9f9;
}

.flashes .warning{
background-color: #996;
border-color: #ff9;
color: #ff9;
}

.flashes .error{
background-color: #966;
border-color: #f99;
color: #f99;
}

.flashes .close {
cursor: pointer;
padding-left: 1.4em;
padding-right: .2em;
}


/************************************************************************
Tooltip
*************************************************************************/

#tooltip {
position: absolute;
display: block;
max-width: 90px;
border: 2px solid #d27d2c;
border-radius: 5px;
background-color: #000;
padding: 3px 12px;
font-weight: normal;
}

#tooltip_bag {
position: absolute;
display: block;
max-width: 200px;
border: 2px solid #d27d2c;
border-radius: 5px;
background-color: #000;
padding: 3px 12px;
font-weight: normal;
}

#tooltip_bag .extension {
font-weight: bold;
color: #66f;
}

#tooltip_bag .attrs {
font-size: 8pt;
}

#tooltip_bag .eaten {
color: #ff6;
}

#tooltip_bag .bonus {
color: #6f6;
}

#tooltip.off, #tooltip_bag.off {
display: none;
}

/************************************************************************
Résumé du profil dans le bandeau du haut
*************************************************************************/

.resume {
}

.resume .info {
display: inline-block;
color: inherit;
height: 20px;
vertical-align: top;
margin: 0px 12px;
}

.resume .joueur {
color: #ffad5f;
font-weight: bold;
}

.jauge {
background: url("../images/gui/jauge.png"); 
width: 96px;
height: 20px;
}

.jauge_container {
padding-left: 10px;
padding-top: 3px;
width: 76px;
position: relative;
}

.jauge_valeur {
position: absolute;
font-size: 0.8em;
right: 0;
top: 2px;
}

.endurance {
background-image: url("../images/gui/endurance.png");
height: 14px;
}

.magie {
background-image: url("../images/gui/magie.png");
height: 14px;
}

.vie {
background-image: url("../images/gui/vie.png");
height: 14px;
}

.nourriture {
background-image: url("../images/gui/nourriture.png");
height: 14px;
}


/************************************************************************
Formulaire
*************************************************************************/

.formulaire {
color: #fff;
font-family: "Verdana";
font-size: 8pt;
line-height: 10pt;
}

.formulaire .field {
display: inline-block;
min-width: 200px;
vertical-align: top;
}

.formulaire i {
display: inline-block;
font-size: inherit;
line-height: inherit;
}

.formulaire [type="text"], .formulaire [type="password"] {
font-family: inherit;
font-size: inherit;
line-height: inherit;
color: inherit;
vertical-align: top;
color: inherit;
border: 3px solid #d27d2c;
border-radius: 5px;
background-color: #595652;
height: 26px;
padding: 0px 6px;
margin-right: 12px;
}

.button, .formulaire [type="button"], .formulaire [type="submit"] {
font-family: inherit;
font-size: inherit;
line-height: inherit;
color: inherit;
vertical-align: top;
display: inline-block;
border: 0px;
height: 26px;
padding: 0px 16px;
background-color: transparent;
background-image: url("../images/gui/btn_l.png"), url("../images/gui/btn_r.png");
background-repeat: no-repeat, no-repeat;
background-position: left top, right top;
cursor: pointer;
}

a.button {
height: 26px;
font-family: inherit;
font-size: 8pt;
line-height: inherit;
color: #fff;
display: inline-block;
text-decoration: none;
font-weight: normal;
padding: 0px 16px;
padding-top: 6px;
}

.formulaire select {
vertical-align: top;
font-family: inherit;
font-size: inherit;
line-height: inherit;
color: inherit;
border: 3px solid #d27d2c;
border-radius: 5px;
background-color: #595652;
height: 26px;
padding: 0px 12px;
}

.formulaire textarea {
vertical-align: top;
font-family: inherit;
font-size: inherit;
line-height: inherit;
color: inherit;
border: 3px solid #d27d2c;
border-radius: 5px;
background-color: #595652;
padding: 6px 12px;
}

.formulaire textarea.max {height: 180px}

.txt_white {color: #fff}

.txt_black {color: #000}

.txt_yellow {color: #ff0}

.formulaire .checklabel {cursor: pointer}

.formulaire .checkbox {
display: inline-block;
background-image: url("../images/gui/chk_empty.png");
height: 12px;
width: 12px;
vertical-align: middle;
}

.formulaire .checkbox_checked {
display: inline-block;
background-image: url("../images/gui/chk_checked.png");
height: 12px;
width: 12px;
vertical-align: middle;
cursor: pointer;
}

.attribute {
width: 2em;
}

/************************************************************************
Menu
*************************************************************************/

.menu {
padding: 1em 3em;
padding-bottom: 0em;
}

a.menu {
display: inline-block;
border: 2px solid #d27d2c;
border-radius: 5px;
background-color: #595652;
padding: 0px 12px;
margin: 3px 0px;
font-weight: normal;
text-decoration: none;
}

a.menu:hover, a.selected {
background-color: #847e87;
}


/************************************************************************
Zone de texte statique
*************************************************************************/

table.texte {
margin-bottom: 1em;
}

.frame_tl {
background-image: url("../images/gui/frame_tl.png");
width: 30px;
height: 15px;
}

.frame_t {
background-image: url("../images/gui/frame_t.png");
height: 15px;
}

.frame_tr {
background-image: url("../images/gui/frame_tr.png");
width: 30px;
height: 15px;
}

.frame_l {
background-image: url("../images/gui/frame_l.png");
width: 30px;
}

.frame_r {
background-image: url("../images/gui/frame_r.png");
width: 30px;
}

.frame_bl {
background-image: url("../images/gui/frame_bl.png");
width: 30px;
height: 15px;
}

.frame_b {
background-image: url("../images/gui/frame_b.png");
height: 15px;
}

.frame_br {
background-image: url("../images/gui/frame_br.png");
width: 30px;
height: 15px;
}

table.texte td.middle {
background-color: #595652;
color: #fff;
font-family: "Verdana";
font-size: 8pt;
line-height: 12pt;
}

table.texte p {
margin: 4px -16px;
}


/************************************************************************
Profil
*************************************************************************/

.bouton {
display: inline-block;
background-image: url("../images/gui/bouton.png");
width: 24px;
height: 24px;
position: relative;
vertical-align: bottom;
margin-right: 3px;
}

.bouton img {
position: absolute;
width: 16px;
top: 4px;
left: 4px;
}

.profile {
width: 280px;
height: 120px;
margin-bottom: 1em;
}

.portrait {
border: 2px solid #d27d2c;
border-radius: 3px;
margin-right: 0.618em;
width: 80px;
max-height: 120px;
display: inline-block;
float: left;
vertical-align: bottom;
}

/************************************************************************
Vue
*************************************************************************/

.map {
}

.map td {
width: 32px;
height: 32px;
line-height: 0.2em;
text-align: center;
cursor: pointer;
position: relative;
}

.map span.ground {
position: absolute;
top: 0;
left: 0;
}

.map span.entity {
position: absolute;
top: 0;
left: 0;
}

.map td.target {
filter: opacity(70%);
}

.map td:hover {
filter: opacity(60%);
}

.btn_move {width:24px;height:24px;cursor:pointer;}
.nw {background:url('../images/gui/btn_nw.png');}
.n {background:url('../images/gui/btn_n.png');}
.ne {background:url('../images/gui/btn_ne.png');}
.w {background:url('../images/gui/btn_w.png');}
.e {background:url('../images/gui/btn_e.png');}
.sw {background:url('../images/gui/btn_sw.png');}
.s {background:url('../images/gui/btn_s.png');}
.se {background:url('../images/gui/btn_se.png');}


/************************************************************************
Forum
*************************************************************************/

.breadcrumb a {
font-size: 0.8em;
color: #ffad5f;
}

.forum .unread {
display: block;
font-size: 0.55em;
font-weight: normal;
padding: 0 0.1em;
}

.forum .last_thread {
display: block;
margin: 0;
margin-top: -1em;
padding: 0;
padding-left: 0.6em;
}

.forum a {
text-decoration: underline;
}

.forum .subject {
padding-left: 0.6em;
}

table.forum {
width: 100%;
border-top: 1px solid #d27d2c;
border-left: 1px solid #d27d2c;
}

.forum th {
border-bottom: 1px solid #d27d2c;
border-right: 1px solid #d27d2c;
}

.forum .even {
background-color: #696662;
}

.forum td {
border-bottom: 1px solid #d27d2c;
border-right: 1px solid #d27d2c;
vertical-align: top;
padding: 0.2em 0.6em;
}

.forum td.subject {
width: 65%;
}

.forum td.answers {
width: 10%;
}

.forum td.last_message {
width: 25%;
}

.forum td.author {
width: 120px;
}

.author .profile{
max-width: 250px;
}

.author .profile h3 {
margin: 0px 6px;
}

span.author {
font-size: 0.8em;
font-style: italic;
font-weight: bold;
}

.forum .message {
padding: 0.4em 1em;
}

.forum .edition {
font-size: 0.8em;
font-style: italic;
}

.forum .actions {
float: right;
padding-top: 0.6em;
}


/************************************************************************
Inventaire
*************************************************************************/

.equipment {
width: 144px;
height: 240px;
border: 2px solid #d27d2c;
border-radius: 5px;
background-color: #847e87;
position: relative;
}

.equipment img {margin: 6px;}

.equipment .place {
width: 36px;
height: 36px;
position: absolute;
}

.neck {
background-image: url("../images/gui/eqp_neck.png");
top: 6px;
left: 6px;
}

.head {
background-image: url("../images/gui/eqp_head.png");
top: 6px;
left: 54px;
}

.right_hand {
background-image: url("../images/gui/eqp_hand_right.png");
top: 54px;
left: 6px;
}

.chest {
background-image: url("../images/gui/eqp_chest.png");
top: 54px;
left: 54px;
}

.left_hand {
background-image: url("../images/gui/eqp_hand_left.png");
top: 54px;
left: 102px;
}

.right_finger {
background-image: url("../images/gui/eqp_finger.png");
top: 102px;
left: 6px;
}

.belt {
background-image: url("../images/gui/eqp_belt.png");
top: 102px;
left: 54px;
}

.left_finger {
background-image: url("../images/gui/eqp_finger.png");
top: 102px;
left: 102px;
}

.legs {
background-image: url("../images/gui/eqp_legs.png");
top: 150px;
left: 54px;
}

.bag {
background-image: url("../images/gui/eqp_bag.png");
top: 150px;
left: 102px;
}

.feet {
background-image: url("../images/gui/eqp_feet.png");
top: 198px;
left: 54px;
}

.vide {
background-image: url("../images/gui/eqp_vide.png");
}

table.inventory {
}

table.inventory td {
background-image: url("../images/gui/inventory_cell.png");
width: 36px;
height: 36px;
text-align: center;
position: relative;
}

.emptybag {
display: inline-block;
margin-top: 4px;
margin-left: 2px;
width: 32px;
height: 28px;
}


.stack {
position: absolute;
bottom: 2px;
right: 3px;
color: #fff;
font-family: "Arial";
font-size: 8pt;
}


/************************************************************************
Messagerie
*************************************************************************/

#messagerie .text {
font-weight: bold;
font-size: 1em;
}


/************************************************************************
Style spécifique à la taille de l'écran
*************************************************************************/

@media (min-width: 800px) and (max-width: 1128px) {
.container {
width: 720px;
}
}

@media (max-width: 799px) {
.container {
max-width: 800px;
}

.map td {
width: 16px;
height: 16px;
background-size: 16px;
}
}
