{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h1>Vue - {{ g.zone.nom }}</h1>

    <div class="col-md-6">
        <table class="map" cellspacing="0" cellpadding="0">
        {% for line in g.vue %}
        <tr>
            {% for cell in line %}
            <td class="{% if g.cible.x==cell.x and g.cible.y==cell.y %}target{% endif %}" x="{{ cell.x }}" y="{{ cell.y }}">
            <span class="ground"><img src="/static/images/ground/{{ cell.ground }}.png" /></span>
            {% for entite in g.entites %}
            {% if cell.x==entite.pos_x and cell.y==entite.pos_y %}
            <span entity="{{ entite.nom }}" class="entity">
            <img src="/static/images/entities/{{ entite.image }}.png" />
            </span>
            {% endif %}
            {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
    </div>
    <div class="col-md-5">
        <div class="row">
            <h2>{{ g.cible.nom }}</h2>
        </div>
        {% if g.actions %}
        <div class="row">
            <h2>Actions</h2>
            <form class="formulaire" name="action" action="{{ url_for('personnage.action') }}" method="POST">
            <input type="hidden" id="x" name="x" value="{{ g.cible.x }}" />
            <input type="hidden" id="y" name="y" value="{{ g.cible.y }}" />
            <select id="action" name="action">
            {% for action in g.actions %}
                {% if action=='deplacement' %}
                <option value="deplacement">Déplacement (2 PA)</option>
                {% endif %}
                {% if action=='attaque' %}
                <option value="attaque">Attaque (4 PA)</option>
                {% endif %}
            {% endfor %}
            </select>
            <input type="submit" value="Ok" />
            </form>
        </div>
        {% endif %}
    </div>
</div>

<form name="cible" action="{{ url_for('zone.vue') }}" method="POST">
<input type="hidden" id="x" name="x" value="" />
<input type="hidden" id="y" name="y" value="" />
</form>

<script type="text/javascript">
// Permet de cliquer sur les cases de la carte pour cibler une case en particulier
$(".map td").click(
    function(event) {
        document.forms["cible"].x.value = $(this).attr("x");
        document.forms["cible"].y.value = $(this).attr("y");
        document.forms["cible"].submit();
    }
);
</script>
{% endblock %}
